<div class="question">
<p><%= params[:question] %></p>
<p>- You</p>
<br>
</div>

<div class="answer">
<p><%= @answer %></p>
<p>- Your Coach</p>
<br>
</div>

<p class="text-indent"><%= link_to "Ask a new question", ask_path %><p>
