<div class="text-indent">
<h1>Stupid Coaching</h1>
<form action="/answer" data-turbo="false">
  <label for="question">Ask your coach anything:</label>
  <br>
  <div class="input-group mb-3 w-25">
    <input id="question" type="text" name="question" class="form-control">
    <div class="input-group-append">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </div>
</form>
</div>
